.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  justify-content: space-around;
}

.MuiAppBar-colorPrimary {
  background-color: #363636;
}

.nav-title {
  color: #fff;
  font-weight: 600;
}

.form__wrap {
  max-width: 500px;
  margin: 100px auto;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

form {
  display: flex;
  flex-direction: column;
  /* padding: 24px 36px; */
  padding: 3em;
  border-radius: inherit;
}

#logout-btn {
  background-color: #607d8b;
  color: white;
  font-weight: 700;
}
#logout-btn:hover {
  background-color: #819ca8;
}

.error {
  color: #e90d0d;
}
.success {
  color: #1db11d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
