.product-index {
  background: #dfdfdf;
  height: 100vh;
}

#product-list {
  max-width: 70%;
  margin: 0 auto;
}

.product {
  border: 1px solid #363636;
  background: #363636;
  border-radius: 0.5em;
  margin: 1em 0;
  box-shadow: 0px 0px 2px 1px inset #a91fd4ad, 0px 0px 2px 1px inset #624eb4;
}

.product-name {
  color: white;
}
