.product-index {
  background: #dfdfdf;
}

#product-list {
  max-width: 70%;
  margin: 0 auto;
}


.product {
  border: 1px solid #363636;
  background: #363636;
  border-radius: 0.5em;
  margin: 1em 0;
}

.product-name {
  color: white;
}