.product-index {
  max-width: 70%;
  margin: 0 auto;
  position: relative;
}

/* #product-list {
  max-width: 70%;
  margin: 0 auto;
} */

.product {
  border: 1px solid #363636;
  background: #363636;
  border-radius: 0.5em;
  margin: 1em 0;
  box-shadow: 0px 0px 2px 1px inset #a91fd4ad, 0px 0px 2px 1px inset #624eb4;
}

.product-name {
  color: white;
  text-shadow: 0px 0px 12px #a91fd4;
}

.product-detail {
  background: #363636;
  color: white;
  border: 1px solid #363636;
  border-radius: 0.5em;
  box-shadow: 0px 0px 2px 1px inset #a91fd4ad, 0px 0px 2px 1px inset #624eb4;
  padding: 1.5em;
  max-width: 70%;
  margin: 6em auto;
}

.product-detail .product-name {
  text-shadow: 0px 0px 12px #a91fd4;
  -webkit-text-stroke: 1.5px #821fd496;
}

.product-cost b {
  color: #b079e1;
  filter: brightness(1.3);
}

.create-btn {
  text-transform: capitalize;
}

.new-product-link {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.75em;
  border: 1px solid #363636;
  background: #363636;
  box-shadow: 0px 0px 2px 1px inset #a91fd4ad, 0px 0px 2px 1px inset #624eb4;
  position: absolute;
  top: 120%;
  left: calc(50% - 77px);
}

.create__product__wrap {
  border: 1px solid #af43d1;
}

#createProductForm {
  box-shadow: 0px 0px 2px 2px inset #a91fd4ad, 0px 0px 2px 2px inset #624eb4;
  margin: 4px 4px -10px 4px;
}

#createProductForm .MuiInputLabel-outlined {
  color: #a5a5a596;
}

#createProductForm .MuiInputLabel-outlined.MuiInputLabel-shrink {
  color: #a5a5a5f7;
}

#createProductForm .MuiOutlinedInput-root {
  border-radius: 8px;
  border: 1px solid #af43d1;
  box-shadow: 0px 0px 4px 1px inset #5f45c4;
  outline: 0;
  background: #6f6f6f;
}

#createProductForm .MuiOutlinedInput-input {
  color: #ccbad1;
  border-radius: inherit;
}

#createProductForm .MuiOutlinedInput-notchedOutline {
  outline: 0;
  border: 0;
}

#createProductForm .MuiButton-containedPrimary {
  color: #cec1d2;
  background: linear-gradient(174deg, #8632bb, #4e408a);
  box-shadow: 0px 0px 1px 1px inset #9e38ab;
}

.new-description {
  color: #ccbad1;
  font-size: 1rem;
  padding: 18.5px 14px;
  border: 1px solid #af43d1;
  box-shadow: 0px 0px 4px 1px inset #5f45c4;
  outline: 0;
  background: #6f6f6f;
}

.new-description::-webkit-input-placeholder {
  color: #a5a5a596;
  font-family: inherit;
}

.product-weight input[type="number" i] {
  color: #a5a5a596;
  color: #ccbad1;
  padding-left: 0.5em;
}

.product-weight input[type="number" i]::-webkit-input-placeholder {
  color: white;
  
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgb(119 53 174);
}

.MuiInput-underline:after {
  border-bottom: 2px solid #af43d1;
}

.delete-product {
  float: right;
}

.delete-product .MuiSvgIcon-root {
  fill: #bbbbbb;
  font-size: 1rem;
  opacity: 0.7;
}

.delete-product .MuiSvgIcon-root:hover {
  font-size: 1.5rem;
  transition: 1s;
  opacity: 1;
}